@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a TravelReservation</h1>
    <p>Utiliza el menú de navegación para explorar las funcionalidades de la aplicación.</p>
</div>
